@page
@model TatilSitesi.Views.Home.aboutModel
@{
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkında</h3>
            <img src="../images/about_banner.jpg" alt="Tatil Sitesi" />
            <p>Hoş geldiniz! Biz, tatil planlarınızı daha keyifli ve zahmetsiz hale getirmek için burada bulunan bir seyahat şirketiyiz. Uzun yıllara dayanan deneyimimizle, size unutulmaz bir tatil deneyimi sunmayı hedefliyoruz. Seyahatlerinizin her aşamasında size yardımcı olmaktan büyük mutluluk duyuyoruz. Kapsamlı hizmetlerimiz arasında otel rezervasyonları, uçuşlar, araç kiralama ve kişisel tatil danışmanlığı yer alıyor.</p>
            <p>Amacımız, her müşterimizin tatil ihtiyaçlarına uygun özelleştirilmiş çözümler sunmak ve onları en iyi şekilde ağırlamaktır. Seyahatlerinizde karşılaşabileceğiniz her türlü sorunu çözmeye yönelik yenilikçi ve etkili stratejiler geliştirmekteyiz. Profesyonel ekibimiz, her ayrıntıyı düşünerek tatilinizi mükemmel kılmak için çalışmaktadır.</p>
            <p>Deneyimli ve uzman kadromuz, tatil planlaması sürecinde size rehberlik ederken, aynı zamanda tatil sırasında da size destek olmayı garanti eder. Amacımız, her ziyaretçimizin tatil deneyimini en üst düzeyde yaşamasını sağlamak ve her zaman memnuniyetinizi ön planda tutmaktır.</p>
            <p>Bizimle iletişime geçerek tatilinizle ilgili daha fazla bilgi alabilir ve size en uygun tatil paketleri hakkında detaylı bilgi sahibi olabilirsiniz. Sizlere en iyi hizmeti sunmak için buradayız ve sizinle tanışmayı dört gözle bekliyoruz!</p>
        </div>
    </div>
</div>
