@page
@model TatilSitesi.Views.Home.destinationsModel
@{
}
<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Destinasyonlar</h3>
            <img src="../images/dest_banner.jpg" alt="Popüler Destinasyonlar" />
        </div>
        <div class="grids">
            <div class="box1">
                <div class="padding">
                    <h4>Bu Haftanın En İyi 10 Destinasyonu</h4>
                    <ul class="list list-pad">
                        <li class="list-bg"><span>1.</span><a href="#">Paris, Fransa</a></li>
                        <li class="list-bg1"><span>2.</span><a href="#">Tokyo, Japonya</a></li>
                        <li class="list-bg"><span>3.</span><a href="#">New York City, ABD</a></li>
                        <li class="list-bg1"><span>4.</span><a href="#">Sidney, Avustralya</a></li>
                        <li class="list-bg"><span>5.</span><a href="#">Roma, İtalya</a></li>
                        <li class="list-bg1"><span>6.</span><a href="#">Barselona, İspanya</a></li>
                        <li class="list-bg"><span>7.</span><a href="#">İstanbul, Türkiye</a></li>
                        <li class="list-bg1"><span>8.</span><a href="#">Dubai, BAE</a></li>
                        <li class="list-bg"><span>9.</span><a href="#">Cape Town, Güney Afrika</a></li>
                        <li class="list-bg1"><span>10.</span><a href="#">Rio de Janeiro, Brezilya</a></li>
                    </ul>
                    <a href="#" class="link1">Tüm destinasyonları gör</a>
                </div>
                <div class="desti-middle">
                    <h4>Plaj Tatilleri</h4>
                    <div class="box-left">
                        <div class="bot-img">
                            <img src="../images/pic6.jpg" alt="Maldivler" />
                        </div>
                        <div class="bot-desc">
                            <p>Güneş severler ve su sporları meraklıları için bir cennet olan Maldivler'in muazzam plajlarını ve kristal berraklığında sularını keşfedin.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box-left">
                        <div class="bot-img">
                            <img src="../images/pic4.jpg" alt="Hawaii" />
                        </div>
                        <div class="bot-desc">
                            <p>Hawaii'nin canlı kültürünü ve nefes kesici manzaralarını, güzel plajları ve volkanik peyzajlarıyla deneyimleyin.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="box-left">
                        <div class="bot-img">
                            <img src="../images/pic5.jpg" alt="Bora Bora" />
                        </div>
                        <div class="bot-desc">
                            <p>Romantik bir kaçamak veya rahatlatıcı bir geri çekilme için en iyi destinasyonlardan biri olan Bora Bora'nın lüks su üzerindeki bungalovlarında dinlenin.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="desti-right">
                    <h4>Popüler Destinasyonlar</h4>
                    <p>Dünyanın en çok aranan seyahat destinasyonlarını keşfedin. Hareketli şehirlerden huzurlu plajlara kadar, bir sonraki maceranız için mükemmel yeri bulun.</p>
                    <div class="desti-text">
                        <ul class="list1">
                            <li><a href="#">Romantik Tatiller</a></li>
                            <li><a href="#">Macera Seyahatleri</a></li>
                            <li><a href="#">Kültürel Deneyimler</a></li>
                            <li><a href="#">Lüks Kaçışlar</a></li>
                            <li><a href="#">Aile Tatilleri</a></li>
                            <li><a href="#">Ekoturizm</a></li>
                            <li><a href="#">Tarihi Yerler</a></li>
                            <li><a href="#">Plaj Tatilleri</a></li>
                            <li><a href="#">Dağ Kaçamakları</a></li>
                            <li><a href="#">Şehir Gezileri</a></li>
                        </ul>
                    </div>
                    <div class="desti-text">
                        <ul class="list1">
                            <li><a href="#">Rahatlama Noktaları</a></li>
                            <li><a href="#">Görsel Turlar</a></li>
                            <li><a href="#">Wellness Retreats</a></li>
                            <li><a href="#">Kruvaziyer Destinasyonları</a></li>
                            <li><a href="#">Gastronomik Yolculuklar</a></li>
                            <li><a href="#">Festivaller & Etkinlikler</a></li>
                            <li><a href="#">Vahşi Yaşam Safarileri</a></li>
                            <li><a href="#">Alışveriş Destinasyonları</a></li>
                            <li><a href="#">Spor & Aktiviteler</a></li>
                            <li><a href="#">Spiritual Yolculuklar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
